

*{
    font-family: Montserrat, sans-serif;
}
@font-face{
    src:url(../assets/font/Montserrat-Regular.otf);
    font-family: montserrat;
}
@font-face{
    src:url(../assets/font/Montserrat-Bold.otf);
    font-family: montserrat-bold;
}
.montserrat{
    font-family: montserrat;
}
.montserrat-bold{
    font-family: montserrat-bold;
}
.mobile-version{
    display: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.mg-0{
    margin: 0px;
}
.mgt-0{
    margin-top: 0px;
}
.mgb-0{
    margin-bottom: 0px;
}
.mgb-30{
    margin-bottom: 30px;
}
.mgt-60{
    margin-top: 60px;
}
.align-center {
    text-align: center;
}
.align-end{
    text-align: end;
}
.fz-30{
    font-size: 30px;
}
.fz-35{
    font-size:35px;
}
.fz-45{
    font-size: 45px;
}
.fz-15{
    font-size: 15px;
}
.fz-20{
    font-size: 20px;
}
.fz-24{
    font-size: 24px;
}
.fz-15{
    font-size: 15px;
}
.lh-25{
    line-height: 25px;
}
.lh-30{
    line-height: 30px;
}
.lh-35{
    line-height: 35px;
}
.pdb-20{
    padding-bottom: 20px;
}
.pdb-40{
    padding-bottom: 40px;
}
.pdb-60{
    padding-bottom: 60px;
}
.white{
    color: #ffffff;
}
.green-light{
    color: #27db9b;
}
.loader {
    border: 16px solid rgb(0,0,0); /* Light grey */
    border-top: 16px solid #F9A02C; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loading-container,.loading-container-speed{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:18% 15%;
    background-color:#ffffff;
    text-align:center;
    z-index:25;
    display:none;
}
.loading-container-speed{
    display:block;
    padding:20% 0%;
}

.grey{
  color: rgba(0, 0, 0, 0.7);
}
.bold{
    font-weight: bold;
}

.img-section img{
    width: 100%;
    height: auto;
}

.pd-0-0{
    padding: 0px;
}
.pd-0-60{
    padding: 0px 60px;
}
.pd-60-0{
    padding:60px 0px;
}
.pd-30-60{
    padding: 30px 60px;
}

.align-center{
    text-align: center;
}
.scroll-top-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 5;
    background-color:rgba(0,0,0,0.8);
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    padding: 5px 10px;
    display: none;
    transition: all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    
}
.scroll-top-button:focus,.scroll-top-button:active{
    outline: none;
}
.scroll-top-button i{
    color: #f9a02c;
    font-size: 20px;
}

.modern img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    }
.service-logo{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.service-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
    text-align: center;
    padding:50px;

}
.service-content h3{
    font-size: 26px;
    color: #fff;
    font-family: montserrat;
}
.service-content p{
    line-height: 17px;
    color: #fff;
    font-family: montserrat;
}
.service:hover .service-content{ 
    display: block;
    background-color: #F9A02C;
    cursor: pointer;
    transition: all 0.3s linear;
    
}


.service-content h3{
    transform: translateY(-20px);
    transition: all 0.3s linear;

     
}
.service-content p{
    margin-top:20px;
    line-height:25px;
    transform: translateY(30px);
    transition: all 0.3s linear;
}

.service-content:hover h3{
    transform: translateY(0px);
     
}
.service-content:hover p{
    transform: translateY(0px);
}

/* footer **/

footer{
    background-color: #fbfbfb;
    padding: 25px 0;
    text-align: center;
    display: block;

}
.footer-section{
    max-width: 1235px;
    width: 100%;
    margin: 0px auto;
    padding: 15px;
}
footer .rig{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    padding-top: 20px;
    float: none;
    padding-bottom: 25px;
    display: block;
}
footer span{
    display: inline-block;
    padding: 0px 10px;
}
footer .rig strong{
    font-weight: 600px;
}
.copy {
    font-size: 13px;
    color: #333;
}

/* booking section */
.bookOffice {
    width: 100%;
    float: left;
    padding: 30px 0px;
    background: rgb(2,81,59,8);
    background: -moz-linear-gradient(top, rgba(2,81,59,.8) 0%, rgba(2,81,59,.8) 20%, rgba(117,161,209,.8) 100%);
    background: -webkit-linear-gradient(top, rgba(2,81,59,.8) 0%,rgba(2,81,59,.8) 20%,rgba(117,161,209,.8) 100%);
    background: linear-gradient(to bottom, rgba(2,81,59,.8) 0%,rgba(2,81,59,.8) 20%,rgba(117,161,209,.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02513b', endColorstr='#75a1d1',GradientType=0 );
}

.bookoffice-section {
    max-width: 1235px;
    width: 100%;
    margin: 0px auto;
}
.bookOfficeSpace{
    margin-bottom: 20px;
}
.bookOffice h2 {
    font-weight: 500;
}

.bookOffice .talkUs {
    background-color: #ffffff;
    border: none;
    color: #333;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}
.talkUs:hover{
        background-color: #F9A02C;
        cursor: pointer;
        color: #fff;

}

/* spell success started */


.spell-container ul {
    margin: 0;
    padding: 20px 0px 0px;
    text-align: center;
}
.spell-container ul li {
    display: inline-block;
    padding: 0px 18px;
    text-align: center;
}
.spell-container ul li samp {
    width: 100px;
    height: 100px;
    background-color: #cccccc;
    display: block;
    border-radius: 50%;
    padding: 40px 0px;
    font-size: 20px;
    font-weight: 600;
}
.spell-container ul li p {
    font-size: 15px;
    color: #000;
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
}

/* main section */
.expencDiv {
    width: 100%;
    float: left;
   
}
.main-section {
    max-width: 1235px;
    width: 100%;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}


.expencDiv .exprncTxt {
    width: 100%;
    float: left;
}
.expencDiv .exprncTxt p {
    font-size: 17px;
    color: #333;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

/* plan and pricing */

.join-now{
    color: #F9A02C;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #F9A02C;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    margin-top: 10px;
}
.join-now:hover,.join-now:active,.join-now:focus{
    color: #F9A02C;
    text-decoration: none;
}
.price-option{
    border: 1px solid rgba(0,0,0,0.5);
    padding: 30px;
    height:640px;
    min-height: 640px;
}
.price-option:hover{
    background-color: #F9A02C;
    cursor: pointer;
    color: #fff;
}
.price-option:hover .join-now{
    color: #F9A02C;
    background-color: #fff;

}

.price-option img{
    width: 20px;
    
}
.price-option:hover .price-value{
    color: #fff;
}
.seperation{
    width:80px;
    margin: 30px auto;
    min-height:1px;
    background-color: rgba(0, 0, 0, 0.7);  
}
.pdt-10{
    padding-top:10px;
}

.pdt-20{
    padding-top: 20px;
}

/* mohit style */

.pd-0{
    padding: 0px;
}
.pd-30-0{
    padding: 30px 0px;
}

.video-container{
    height:100vh;
    overflow: hidden;
    position: relative;
}

.video-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.video-section video{
    width: 100%;
}
.black-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 6;
}

.video-heading{
    position: absolute;
    bottom: 100px;
    width: 70%;
    z-index: 3;
    text-align: right;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    padding: 15px;
    padding-right:90px;
    
    
}
.triangle-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 8;
    
}
.triangle-container img{
    width: 100%;
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

.video-heading h2{
    font-size: 45px;
    font-weight: bold;
}
.video-heading p{
    font-size: 25px;
    
}
    
.video-form{
    width: 25%;
    height: 370px;
    position: absolute;
    bottom: 100px;
    right: 5%;
    z-index: 4;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #828282;;
    
}

.video-form .form-group{

    color: #fff;
}

.video-form .col-md-6, .video-form .col-md-12 {
    padding: 8px 5px;
    
    
}

.video-form-btn{
    padding:30px 0;
}



.video-form h2{
    font-size:19px;
}


.cstm-btn {
    background: #215988;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    height: 50px;
    width: auto;
    padding: 13px 30px;
    display: inline-block;
    border-radius: 8px;
    border: 0px;
}
.cstm-btn:hover {
    background: #F9A02C;
    color: #fff;
}




input[type=text], .video-form .form-group select, .video-form .form-group textarea, input[type=email] {
    color: #fff;
    border-radius: 0px;
    font-size: 13px;
}
.product-interest-container{
    margin-top: 15px;
}
.video-form input:focus,.video-form textarea:focus{
    outline: none;
    border: none;
    box-shadow: 0px 0px 0px #fff;
}



@media screen and (max-width: 960px) {
    
    .desktop-version{
    display:none;
    }
    .mobile-version{
    display: block;
    }
    .video-container{
        height: 70vh;
    }
    
    .video-heading{
        bottom: 150px;
        width: 100%;
        left: 0px;
        padding: 0px;
        text-align: center;
       
       
}
    
    .video-heading h2,.section-heading{
    font-size: 25px;
   
    }
    .price-option{
        height: auto;
    }
    .contact-form-container .section-heading,.service > .col-md-12,.price-option{
        margin-bottom: 15px;
    }
    .video-heading p{
        font-size: 15px;
    }
    .video-section video{
        width: auto;
        height: auto;
    }
    #event,#about,#pricing{
        padding: 0px 30px;
    }
  }



/*  pranay style */


        .color-orange{
            color: #F9A02C;
        }
        .bg-orange{
            background-color: #F9A02C;
        }
.color-light-gray{
    color: #b7babd;
}
        .pagelink-container{
            text-align: end;
        }
.mobile-list-container{
    padding: 5px 0px;
}
.mobile-menu-list{
    display: none;
    background-color:#F9A02C; 
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.moible-menu-list li{
    display: block;
    list-style: none;
}
.mobile-menu-list i{
    margin-right: 5px;
}
.mobile-menu-list li a{
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
}
.mobile-menu-list li a:hover,.mobile-menu-list li a:active,.mobile-menu-list li a:focus{
    background-color: #fff;
    color:#F9A02C;
    text-decoration: none;
}
        .logo-container img{
            width: 320px;
        }
.mobile-logo{
    padding: 5px 0px;
}
.mobile-logo img{
    width: 140px;
}
        .pagelink-container li a{
             display: flex;
            height: 100%;
            align-items: center;
            color: #333;
            text-decoration: none;
            font-size: 20px;
            padding: 0px 18px;
            transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            font-family: montserrat;
        }
        .pagelink-container li a:hover{
            color: #F9A02C;
        }
        .pagelink-container li.active a{
            color: #F9A02C;
        }
        .pagelink-container,.logo-container{
            padding: 10px;
        }
        .pagelink-container ul{
            margin: 0px;
            padding: 0px;
            height: 100%;
        }
        .pagelink-container li{
            height: 100%;
        }
        .top-nav{
            position: fixed;
            top: 0;
            width: 100%;
            height: 64px;
            z-index: 8;
            overflow: hidden;
            transition: all 0.3s linear;
            -webkit-transition:all 0.3s linear;
            -moz-transition:all 0.3s linear;
            
        }
.top-nav.mobile-version{
    padding: 10px 0px;
    height: auto;
    padding-bottom: 0px;
}
.menu-button{
    border: 1px solid #F9A02C;
    background-color: #fff;
}
.menu-button:focus,.menu-button:active{
    outline: none;
}
.menu-button i{
    color:#F9A02C; 
}
.sticky{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
        .color-white{
            color: #fff;
        }
        .call-us > a{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
.call-us i{
    margin-right: 10px;
}
        .call-us a:hover,.call-us a:active{
            color:#F9A02C;
            background-color: #fff;
            text-decoration: none;
        }
.mobile-menu-container .call-us{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #F9A02C;
}
.mobile-menu-container{
    padding: 5px;
}
.mobile-menu-container .call-us:hover,.mobile-menu-container .call-us:focus,.mobile-menu-container .call-us:active{
    background-color: #fff;
    color:#F9A02C;
    text-decoration: none;
}
#client-container,#contact{
background-color:#0f0f0f;
color: #fff;
    
}
.client-logo-container img{
    width: 200px;
}
.make-press img{
    margin-top: -18px;
}

#contact .section-title{
    padding-bottom: 30px;
}
#why-choose-us > h3,#client-container > h3{
    cursor: pointer;
}
#why-choose-us .map-container,#why-choose-us .point-container,#client-container > .col-md-12{
    display: none;
}
.icon-container i{
    font-size: 20px;
    color:#F9A02C;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F9A02C;
    border-radius: 50px;
}
.icon-container img{
    width: 60px;
}
.point-list{
    padding: 0px;
    margin: 0px;
    padding-left: 18px;
}
.pricing-container .point-list li{
    margin-bottom: 5px;
}
.normal-price{
    text-decoration: line-through;
}
.drop-icon i{
    transition: all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
}
.rotate{
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
.point-container .col-md-11{
    padding-left: 60px;
}
.address-container > .col-md-12{
    padding-bottom: 25px;
}
.form-container input,.form-container textarea{
    border: 2px solid #fff;
    background-color: #fff;
    position: relative;
    height: 45px;
    border-radius: 5px;
    transition: all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    padding-left: 60px;
    color: orange;
}
.form-container textarea{
    height: 80px;
}
.form-container input:focus,.form-container textarea:focus{
    border: 2px solid #F9A02C;
    box-shadow: 0px 0px 0px #fff;
    outline: none;
}
.form-container label{
    position: absolute;
    top: 13px;
    left: 30px;
    z-index: 2;
}
.form-container label i{
    color: #333;
    font-size: 20px;
}
.form-container input:focus .form-container label i,.form-container textarea:focus .form-container label i{
    color: #F9A02C;
}
.contact-submit{
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    border: none;
}
.contact-submit::after{
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    background-color: #D48825;
    z-index: -1;
    border-radius: 3px;
}
.contact-submit:hover::after{
    height: 100%;
}
.video-form .formn-group > div{
    position: relative;
}
.video-form label{
    position: absolute;
    top: 14px;
    left: 12px;
    z-index: 2;
    font-size: 13px;
    
}